* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  font-family: sans-serif;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  color: #354463;
}
.navbar-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  padding: 1.2rem 0.7rem;
  width: 55%;
  font-size: 0.2rem;
  font-family: sans-serif;
}

.navbar-title-anchor {
  color: #354463;
  text-decoration: none;
}
.navbar-sidebar {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 1.7rem;
  cursor: pointer;
  font-size: 1rem;
}

.navbar-sidebar a {
  text-decoration: none;
  color: #354463;
}
.navbar-sidebar p {
  margin-bottom: 0.5rem;
}

.navbar-sidebar-id1 {
  color: #354463;
}

.navbar-button {
  width: 100%;
  margin: 0 10% 5% 10%;
  cursor: pointer;
  padding: 0.6rem;
  width: 80%;
  border-radius: 1.5rem;
  border: none;
  background: #c1f7d5;
  font-weight: bold;
  font-size: 1rem;
  color: #354463;
}

.main-page1 {
  background: url("./allimages/annie-spratt-135307-unsplash.png");
  padding: 2rem 1rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main-page1-title {
  font-size: 1rem;
  font-family: flood-std;
  color: white;
}

.main-page1-title h1 {
  font-size: 3rem;
}
.main-page1-issue {
  top: 4rem;
  margin: 0 30%;
  position: relative;
  background-color: #354463;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  color: white;
}

.main-page1-data {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #354463;
  padding: 2.3rem 2rem;
}
.main-page1-data h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.main-page1-data p {
  font-size: 0.8rem;
  text-decoration: underline;
  text-align: center;
}

.main-page2 {
  padding: 2rem 2rem;
  background-color: #c1f7d5;
}

.main-page2-takeaction {
  top: -3rem;
  margin: 0 15%;
  position: relative;
  background-color: #354463;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  color: white;
}

.main-page2-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1.5rem;
  color: #354463;
}
.main-page2-data h3 {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.main-page3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #354463;
  color: white;
}

.main-page3-what-to-do {
  margin-bottom: 1rem;
}

.main-page3-what-to-do-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #c1f7d5;
  border: none;
  color: #354463;
  font-weight: bold;
  border-radius: 1.5rem;
}

.main-page3-para {
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.main-page3-data {
  display: flex;
  flex-direction: column;
}

.main-page3-data-id1,
.main-page3-data-id2,
.main-page3-data-id3 {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  margin-bottom: 5em;
}

.main-page3-data-id1 img,
.main-page3-data-id2 img,
.main-page3-data-id3 img {
  justify-self: center;
  margin-top: -3rem;
}

.main-page3-data-id1-data,
.main-page3-data-id2-data,
.main-page3-data-id3-data {
  color: #354463;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.main-page3-data-id1-data p,
.main-page3-data-id2-data p,
.main-page3-data-id3-data p {
  text-align: center;
  padding: 1rem 3rem 1.5rem 3rem;
}

.main-page3-data-id1-button,
.main-page3-data-id2-button,
.main-page3-data-id3-button {
  margin-bottom: 1rem;
  justify-self: center;
  font-weight: bold;
  border-radius: 1.5rem;
  background-color: #c1f7d5;
  border: none;
  padding: 1rem 2rem;
  color: #354463;
  font-weight: bold;
  border-radius: 1.5rem;
  background-color: #c1f7d5;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  /* color:#354463 */
}

.main-page4 {
  background: url("./allimages/Did\ you\ know\ background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 2rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

.main-page4-heading h1 {
  color: white;
  font-family: flood-std;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.main-page4-takeaction {
  font-weight: bold;
  border-radius: 1.5rem;
  background-color: #c1f7d5;
  border: none;
  margin-bottom: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  color: #354463;
}
.main-page4-data-did-you-know {
  margin-left: 20%;
  margin-bottom: -2rem;
  margin-right: 20%;
  position: relative;
  background-color: #354463;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  color: white;
}

.main-page4-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-page4-data-hunger {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  padding: 1.5rem 1rem;
  background-color: white;
  color: #354463;
}

.main-page4-data-hunger h3 {
  grid-column: 1/3;
  align-self: center;
  font-size: 1.2rem;
  grid-column: 1/4;
}

.main-page4-data-hunger p {
  grid-column: 1/4;
}

.main-page4-twitter {
  background-color: #c1f7d5;
  border-radius: 50%;
  grid-column: 4/5;
  grid-row: 1/2;
  padding: 1rem;
  margin: 1rem 2rem 1rem 45%;
  background-image: url("./allimages/iconmonstr-twitter-1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.main-page4-facebook {
  background-color: #c1f7d5;
  border-radius: 50%;
  background-image: url("./allimages/iconmonstr-facebook-1.png");
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4/5;
  grid-row: 2/3;
  margin: 1rem 2rem 1rem 45%;
  padding: 1rem;
  align-self: start;
}

.main-page5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.main-page5-box1 {
  width: 100%;
  padding: 1rem 1rem;
  margin-left: 0%;
}

.main-page5-box1 img {
  width: 100%;
}

.main-page5-box2 {
  display: flex;
  flex-direction: column;
}

.main-page5-box2-para {
  color: white;
  background-color: #354463;
  padding: 1rem 2rem;
  margin: 0rem 1rem;
}

.main-page5-box1-story {
  margin: 0 20%;
  margin-bottom: -1rem;
  position: relative;
  background-color: #354463;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  color: white;
}

.main-page5-box2-para h4 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.main-page5 p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 50;
}

.main-page5-box2-button {
  margin: 2rem 20% 1rem 20%;
  font-weight: bold;
  border-radius: 1.5rem;
  background-color: #c1f7d5;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  color: #354463;
}
.main-page6-EventandNewsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #344464;
}
.main-page6-slogan3 {
  text-align: center;
  color: white;
  font-family: "flood-std", Arial, Helvetica, sans-serif;
  font-size: xx-large;
  padding: 1rem 1rem;
}
.main-page6-eventSection,
.main-page6-newsSection {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  gap: 1rem;
  position: relative;
  margin-bottom: 5%;
}
.main-page6-eventContext,
.main-page6-newsContext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.main-page6-eventHead,
.main-page6-newsHead {
  background-color: white;
  color: #344464;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem 0.7rem;
  z-index: 1;
  position: absolute;
  top: -4%;
  align-self: center;
}
.main-page6-eventsubheading1,
.main-page6-newssubheading1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  text-align: center;
  align-self: center;
}
.main-page6-eventtext,
.main-page6-newstext {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: 300;
  text-align: center;
}
.main-page6-eventButton,
.main-page6-newsButton {
  color: #344464;
  text-decoration: none;
  background-color: #c1f7d5;
  padding: 0.5rem 1rem;
  border: 0.2rem solid #c1f7d5;
  border-radius: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  align-self: center;
}

.main-page6-eventTreeImg,
.main-page6-newsMeetingImg {
  width: 80%;
  align-self: center;
}

.main-page7-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.6rem;
  color: #354463;
  background-color: #c1f7d5;
}

.main-page7-subscribe h1 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.main-page7-subscribe-form {
  display: flex;
  flex-direction: row;
  align-self: start;
  width: 100%;
  gap: 5%;
}

.main-page7-email-input {
  flex: 1;
  border-radius: 2rem;
  padding: 1rem;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.main-page7-subscribe-button {
  background-color: #354463;
  color: #c1f7d5;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.footer-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 4em;
  padding: 1rem;
  color: #354463;
  margin-top: 2rem;
}

.footer-main h2 {
  font-size: 1.5rem;
  justify-content: center;
}

.footer-list {
  font-size: 0.8rem;
}

.footer-list ul {
  margin-bottom: 0.3rem;
}

.footer-list ul:last-child {
  margin-bottom: 0rem;
}

.footer-list ul:first-child {
  margin-bottom: 0.7rem;
}

.footer-decoration ul {
  text-decoration: underline;
}

.footer-decoration ul:first-child {
  text-decoration: none;
}

.footer-main h1 {
  font-family: flood-std;
  grid-column: 2/3;
  font-size: 2.5rem;
  margin-top: -1rem;
}

.footer-contact,
.footer-learn-footer {
  margin-left: 10%;
}

@media screen and (min-width: 30rem) {
  .navbar {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .navbar-1 {
    flex-direction: column;
    width: 70%;
    align-items: start;
    margin-left: 0.5rem;
  }
  .nav-title {
    width: 100%;
    padding: 0.8rem 0 0 0;
  }
  .navbar-sidebar {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .navbar-sidebar p {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .navbar-button {
    width: 30%;
    margin: 0 0.5rem 0 0;
    width: 100%;
  }

  .main-page1 {
    background: url("./allimages/annie-spratt-135307-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-page1-issue {
    margin: 0 35%;
    left: -28%;
  }

  .main-page1-data {
    align-items: start;
  }
  .main-page1-data > h1 {
    text-align: start;
    padding-left: 1rem;
    font-size: 2rem;
  }

  .main-page1-data > p {
    text-align: left;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .main-page2-takeaction {
    margin: 0 30%;
  }

  .main-page3 {
    align-items: start;
    padding: 2rem 4rem 0rem 4rem;
  }

  .main-page3-data {
    text-align: start;
    font-size: 2rem;
  }

  .main-page3-data-id1,
  .main-page3-data-id2,
  .main-page3-data-id3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    padding: 1rem;
  }

  .main-page3-data-id1 img {
    grid-column: 1/2;
    align-self: center;
    margin-top: -7rem;
  }
  .main-page3-data-id2 img {
    grid-column: 1/2;
    align-self: center;
    margin-top: -7rem;
  }

  .main-page3-data-id3 img {
    grid-column: 1/2;
    align-self: center;
    margin-top: -7rem;
  }

  .main-page3-data-id1-data,
  .main-page3-data-id2-data,
  .main-page3-data-id3-data {
    grid-column: 2/4;
    grid-row: 1/3;
  }
  .main-page3-data-id1-data p,
  .main-page3-data-id2-data p,
  .main-page3-data-id3-data p {
    text-align: start;
    font-size: 1.5rem;
    padding: 0 0rem 0 0rem;
    margin-top: 1rem;
  }

  .main-page3-data-id1-button,
  .main-page3-data-id2-button,
  .main-page3-data-id3-button {
    grid-column: 1/2;
    justify-self: center;
    margin-left: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
    border-radius: 1.5rem;
    background-color: #c1f7d5;
    border: none;
    width: 70%;
    height: 20%;
    /* padding: 1rem 1rem; */
    color: #354463; /* Add semicolon here */
  }

  .main-page4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    background: url("./allimages/Did\ you\ know\ background.png");
    background-size: cover;
    padding-left: 0;
  }

  .main-page4-heading {
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
  }

  .main-page4-data {
    width: 50%;
  }

  .main-page4-data-did-you-know {
    margin-left: 10%;
    margin-right: 30%;
  }

  .main-page5 {
    padding: 2rem;
  }

  .main-page5-box1 {
    width: 90%;
    padding: 0;
  }

  .main-page5-box1 img {
    width: 90%;
  }

  .main-page5-box1-story {
    margin-left: 10%;
    margin-right: 60%;
  }

  .main-page5-box2 {
    margin-top: -10%;
    width: 90%;
    margin-left: 15%;
  }

  .main-page5-box2-para {
    padding: 4rem 0.8rem 4rem 4rem;
  }

  .main-page5-box2-para h4 {
    text-align: start;
    font-size: 1.8rem;
  }

  .main-page5-box2-para p {
    text-align: start;
    font-size: 0.8rem;
  }

  .main-page5-box2-button {
    margin-right: 67%;
    margin-left: 2%;
    margin-top: 1rem;
  }
  .main-page6-slogan3 {
    align-self: start;
    text-align: start;
    font-size: 2.5rem;
    margin-left: 10%;
    margin-right: 15%;
    padding: 1rem 0rem;
  }
  .main-page6-eventTreeImg,
  .main-page6-newsMeetingImg {
    display: block;
    width: 50%;
  }
  .main-page6-eventSection {
    flex-direction: row;
    align-items: start;
    gap: 10%;
    margin: 0 10%;
  }
  .main-page6-newsSection {
    flex-direction: row-reverse;
    align-items: start;
    gap: 10%;
    margin: 5% 10%;
  }
  .main-page6-eventHead,
  .main-page6-newsHead {
    position: relative;
    align-self: start;
    padding: 0.5rem 1.5rem;
  }
  .main-page6-eventContext,
  .main-page6-newsContext {
    align-items: start;
    height: 100%;
  }
  .main-page6-eventsubheading1,
  .main-page6-newssubheading1 {
    text-align: start;
    font-size: x-large;
    align-self: start;
  }
  .main-page6-eventtext,
  .main-page6-newstext {
    text-align: start;
  }
  .main-page6-eventButton,
  .main-page6-newsButton {
    align-self: start;
  }
  .main-page7-subscribe {
    padding: 3.5rem;
  }

  .main-page7-email-input {
    width: 70%;
  }

  .main-page7-subscribe-button {
    width: 30%;
  }

  .footer-main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-learn-footer {
    grid-column: 2/3;
  }

  .footer-main h1 {
    grid-column: 3/4;
  }
}

@media screen and (min-width: 60rem) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
  .navbar-1 {
    flex-direction: row;
    align-items: center;
    width: 70%;
  }
  .nav-title {
    font-size: 0.5rem;
    width: 34%;
  }
  .navbar-sidebar {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;
    font-size: 1rem;
  }
  .navbar-button {
    width: 100%;
  }

  .main-page1 {
    background: url("./allimages/annie-spratt-135307-unsplash.png");
    background-size: cover;
    padding: 5rem;
    background-repeat: no-repeat;
    width: 100%;

    flex-direction: row-reverse;
    justify-content: right;
    padding: 20 5rem;
  }

  .main-page1-title {
    font-size: 1.3rem;
    padding-top: 0.5rem;
  }

  .main-page1-title h1 {
    font-size: 3rem;
  }
  .main-page1-issue {
    left: -50%;
    top: 2rem;
    padding: 0.6rem;
    margin: 0;
    height: 2rem;
    justify-content: center;
    width: 23rem;
  }

  .main-page1-data h1 {
    font-size: 2rem;
  }

  .main-page2-takeaction {
    margin: 0 40%;
  }

  .main-page2-data {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .main-page2-data p {
    font-size: 1.3rem;
  }

  .main-page3-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
  .main-page3-para {
    margin-bottom: 8rem;
  }

  .main-page3-data-id1,
  .main-page3-data-id2,
  .main-page3-data-id3 {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
  }

  .main-page3-data-id1 img,
  .main-page3-data-id2 img,
  .main-page3-data-id3 img {
    width: 100%;
    justify-self: center;
    margin-right: -2rem;
  }

  .main-page3-data-id1-data,
  .main-page3-data-id2-data,
  .main-page3-data-id3-data {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
  }

  .main-page3-data-id1-data-heading,
  .main-page3-data-id2-data-heading,
  .main-page3-data-id3-data-heading {
    font-size: 1.6rem;
  }

  .main-page3-data-id1-data p,
  .main-page3-data-id2-data p,
  .main-page3-data-id3-data p {
    text-align: start;
    margin-top: 1rem;
  }

  .main-page3-data-id1-button,
  .main-page3-data-id2-button,
  .main-page3-data-id3-button {
    grid-column: 1/2;
    justify-self: center;
    margin: 0;
    font-weight: bold;
    height: 30%;
    /* w */
    border-radius: 1.5rem;
    background-color: #c1f7d5;
    border: none;
    padding: 1rem 1rem;
    color: #354463;
  }

  .main-page4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    background: url("./allimages/Did\ you\ know\ background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem;
  }

  .main-page4-heading {
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
  }

  .main-page4-heading h1 {
    font-size: 4rem;
  }

  .main-page4-data {
    margin: 0 3%;
    width: 100%;
  }
  .main-page4-data h3 {
    font-size: 1.8rem;
  }

  .main-page4-data-did-you-know {
    margin-left: 10%;
    margin-right: 30%;
  }

  .main-page5 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 0;
  }

  .main-page5-box1 {
    width: 100%;
    padding: 0;
    margin-right: 10%;
  }

  .main-page5-box1 img {
    width: 100%;
  }

  .main-page5-box2 {
    position: relative;
    margin-top: 5%;
    width: 100%;
    margin-right: -5%;
    padding: 0;
    margin-left: 5%;
  }

  .main-page5-box2-para {
    padding: 2rem;
  }

  .main-page5-box2-button {
    margin-top: 1rem;
    margin-right: 60%;
    margin-left: 2%;
  }
  .main-page6-slogan3 {
    font-size: 3.5rem;
    margin-right: 50%;
  }
  .main-page6-eventTreeImg {
    display: block;
    width: 250%;
  }
  .main-page6-newsMeetingImg {
    display: block;
    width: 38%;
  }
  .main-page6-eventsubheading1,
  .main-page6-newssubheading1 {
    font-size: xx-large;
    margin-right: 35%;
  }
  .main-page6-eventContext,
  .main-page6-newsContext {
    gap: 3rem;
  }
  .main-page6-eventtext,
  .main-page6-newstext {
    margin-right: 20%;
    font-size: large;
  }
  .main-page6-eventHead,
  .main-page6-newsHead {
    padding: 0.5rem 3rem;
  }
  .main-page7-subscribe {
    flex-direction: row;
    justify-content: center;
  }

  .main-page7-subscribe h1 {
    margin-bottom: 0;
    margin-right: 10%;
  }

  .footer-main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .footer-learn-footer {
    grid-column: 4/5;
    margin: 0;
  }

  .footer-main h1 {
    grid-column: 5/6;
  }

  .footer-follow {
    margin-left: 15%;
  }

  .footer-border-line {
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: inline-block;
  }
}
